* {
    box-sizing: border-box;
}

.button {
    display:block;
    width: 100px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    border: 1px solid black;
    position: fixed;
    right: 30px;
    &-device {
        bottom:120px;
    }
    &-back {
        bottom:60px;
    }
    &-hidden {
        display:none;
    }
}

.wrapper {
    position: relative;
    display: flex;
    max-width: 1444px;
    margin:0 auto;
    
}

.frame {

    margin:0 auto;
}


@media (max-width: 375px) {

    .wrapper {
        
        max-width: 325px;
       
        
    }

.button-device {
    display: none;
}

}