.button {
    display:block;
    width: 100px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    right: -30px;
    &-device {
        bottom:120px;
    }
    &-back {
        bottom:60px;
    }
    &-hidden {
        display:none;
    }
}

.wrapper {
    position:relative;
    display: inline-block;
}